hl7_2_ada/mp/6.12.9/opleveren_verstrekkingenlijst/ada_instance_itv/
hl7_2_ada/mp/6.12.9/opleveren_verstrekkingenlijst/internal/
hl7_2_ada/mp/6.12.9/opleveren_verstrekkingenlijst/hl7_instance_itv/
hl7_2_ada/cio/6.12.9/beschikbaarstellen_all_int_vertaling/ada_instance/REPC_IN000024NL_batch.xml
hl7_2_ada/cio/6.12.9/beschikbaarstellen_all_int_vertaling/fhir_instance/REPC_IN000024NL_batch.xml
hl7_2_ada/cio/6.12.9/beschikbaarstellen_all_int_vertaling/hl7_inst_itvisors/ICA_FHIRbatch.xml
hl7_2_ada/cio/6.12.9/beschikbaarstellen_all_int_vertaling/hl7_inst_itvisors/REPC_IN000024NL_batch.xml

.DS_Store
ada_2_fhir/mp/9.0.7/beschikbaarstellen_medicatiegegevens/4Touchstone/
_ant-buildfiles/ant-publish/ant-build-ketenzorg-3.0.2.bat

hl7_2_hl7/ketenzorg/3.0.2/beschikbaarstellen-labbepalingen/input/

hl7_2_hl7/ketenzorg/3.0.2/beschikbaarstellen-labbepalingen/output/
ada_2_hl7/mp/9.x/nictiz_test/hl7_instance_roundtrip/1voorbeeld_var-freq.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/1voorbeeld_freq-per3d.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/1voorbeeld_frequentie.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/1voorbeeld_var-freq.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/1voorbeeld_weekdagen.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/2voorbeeld_interval.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/3voorbeeld_toedientijd.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/3voorbeeld_toedientijd-flexfalse.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/3voorbeeld_toedientijd-flextrue.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/4voorbeeld_toedieningsduur-alleen.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/4voorbeeld_toedieningsduur-freq.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/4voorbeeld_toedieningsduur-interval.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/4voorbeeld_toedieningsduur-toedientijd.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/4voorbeeld_toedieningsduur-toedientijdexact-freq.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/4voorbeeld_toedieningsduur-toedientijd-freq.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/5voorbeeld_1tot4malig.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/5voorbeeld_eenmalig.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/5voorbeeld_viermalig.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/6voorbeeld_weekdag.xml
ada_2_hl7/mp/9.x/nictiz_test/ada_instance_roundtrip/6voorbeeld_weekdag_tijd.xml
